<main class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;" id="nav">
    <a [routerLink]="['/landingpage']" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">LC Assessment </span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a [routerLink]="['/login']" routerLinkActive="active" class="nav-link text-white" aria-current="page">
          <i class="bi bi-door-open-fill"></i>
          Login
        </a>
      </li>
      <li *ngIf="isLoggedIn()">
        <a [routerLink]="['/landingpage']" routerLinkActive="active" class="nav-link text-white">
          <i class="bi bi-card-checklist"></i>
          Checklist
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown" *ngIf="isLoggedIn()">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle user-img"></i>
        <strong>Luis Castro</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <!-- <li><a class="dropdown-item" [routerLink]="['/logout']">Profile</a></li> -->
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" [routerLink]="['/logout']">Sign out</a></li>
      </ul>
    </div>
  </div>
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
</main>

