.task-done {
  .task-title,
  .text-body-secondary,
  .input-title{
    color: grey;
  }
}

.input-title{
  border: none;
  font-weight: bold;
  background: none;
  &:active{
    border: none;
    outline: none;
  }
  &:disabled{
    background: none;
  }
  &:focus-visible{
    outline: none;
  }
}

.delete-button{
  position: relative;
  padding: 16px;
  right: -10px;
  cursor: pointer;
  visibility: hidden;
  &:hover{
    color: rgba(220, 53, 69);
  }
}
.list-group-item{
  &:hover .delete-button{
    visibility: visible;
  }
}
