<h2>TODO List <i class="bi bi-check2-all"></i></h2>
<div>
  Sync state:
  <div *ngIf="isSyncing();then syncing else no_syncing"></div>
  <ng-template #syncing><i class="bi bi-cloud-arrow-up-fill"></i> Syncing</ng-template>
  <ng-template #no_syncing><i class="bi bi-cloud-check-fill"></i> Synchronized</ng-template>
</div>
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center"
  *ngIf="tasks() as tasks">
  <div class="list-group" *ngIf="tasks.length > 0">
    <label class="list-group-item d-flex gap-3" *ngFor='let task of tasks' [ngClass]="{'task-done': (task.isDone)}">
      <input class="form-check-input flex-shrink-0" type="checkbox" value="" [checked]="task.isDone" style="font-size: 1.375em;"
        (change)="onTaskStatusChanged($event, task)">
      <span class="pt-1 form-checked-content task-title">
        <input type="text" [(value)]="task.title" class="input-title" [disabled]="task.isDone" (keyup.enter)="onTaskTitleChange($event, task)">
        <!-- <small class="d-block text-body-secondary">
          <i class="bi bi-calendar-event"></i>
          1:00–2:00pm
        </small> -->
      </span>
    </label>
    <label class="list-group-item d-flex gap-3 bg-body-tertiary">
      <input class="form-check-input form-check-input-placeholder bg-body-tertiary flex-shrink-0 pe-none" disabled="" type="checkbox" value="" style="font-size: 1.375em;">
      <span class="pt-1 form-checked-content">
        <input type="text" [(value)]="newTask.title" class="input-title" placeholder="Add new task..." (keyup.enter)="onNewTask($event)">
        <!-- <span contenteditable="true" class="w-100">Add new task...</span> -->
        <small class="d-block text-body-secondary">
          <i class="bi bi-list-check"></i>
          Enter to sync...
        </small>
      </span>
    </label>
  </div>
</div>
